#main{
    background-color: var(--bs-body-bg);
}

#banner{
    height: 250px
}

.posts h2{
    font-size: 100%;;
}

.posts p{
    font-size: 80%
}

.posts{
    margin-bottom: 30px;
    background-color: var(--bs-light-bg-subtle);
    /* border: 1px dashed var(--bs-light-text-emphasis) */
}